---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Tag from "@/components/Tag.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import SearchBar from "@/components/SearchBar.astro";
import getUniqueTags from "@/utils/getUniqueTags";
import { SITE } from "@/config";
import { t } from "@/config/i18n";

const posts = await getCollection("blog", ({ data }) => data.lang === "es");
const locale = "es";

let tags = getUniqueTags(posts);
---

<Layout title={`${t(locale, "tags")} | ${SITE.title}`}>
  <Header />
  <Main pageTitle={t(locale, "tags")} pageDesc={t(locale, "allTagsUsed")} {locale}>
    <SearchBar {locale} />
    <ul>
      {tags.map(({ tag, tagName }) => <Tag {tag} {tagName} size="lg" {locale} />)}
    </ul>
  </Main>
  <Footer />
</Layout>
